<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="top"></div>
<div id="right"></div>
<div id="bottom"></div>
<div id="left"></div>

<% flash.each do |key, value| %>
	<div class="flash <%= key %>">
		<p><%= value %></p>
	</div>
<% end %>

<%= yield %>
	
</body>
</html>
